@model IEnumerable<SportSections.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Name / Surname / Patronymic</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Name" name="name" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Email" name="email" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Birthday date from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.BirthdayFrom.ToString("yyyy-MM-dd")" name="birthdayFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Birthday date to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.BirthdayTo.ToString("yyyy-MM-dd")" name="birthdayTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sort</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
