@model SportSections.Models.Section

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="form-group">
    <a asp-action="Automation" asp-controller="Sections" asp-route-id="@Model.SectionId" class="btn btn-primary">Automation</a>
</div>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<h4>Students in section</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.StudentSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.StudentPatronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.AdmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSections.First().Student.Group)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentSections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentPatronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.AdmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Group.GroupName)
                </td>
            </tr>
        }
    </tbody>
</table>