@model IEnumerable<SportSections.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Section name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Name" name="name" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Address" name="address" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Start date from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DateFrom.ToString("yyyy-MM-dd")" name="dateFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Start date to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DateTo.ToString("yyyy-MM-dd")" name="dateTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sort</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
